.header {
    position: relative;

    &__wrap {
        display: flex;
        justify-content: center;
    }

    &__phone {
        text-align: center;

        p {
            font-size: 1.5rem;
        }

        h1 {
            font-size: 3.5rem;
            line-height: 3.8rem;

            @include break(lg) {
                font-size: 4.5rem;
                line-height: 5rem;
            }

            @include break(xl) {
                font-size: 5.5rem;
                line-height: 6rem;
            }
        }

        &__name {
            display: none;

            @include break(xs) {
                display: block;
            }
        }
    }

    &__logo  {
        display: flex;
        justify-content: center;

    }
}